body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  font-size: 16px;
}

.form-control::placeholder {
  color: #999;
}

.form-check-input {
  margin-top: 10px;
  margin-left: 0;
}

.btn-save {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: #0aba59;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-cancel {
  display: block;
  width: 45%;
  padding: 12px;
  background-color: #bbc91d;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
